NEXT_PUBLIC_SUPABASE_URL=https://yppshbgdkyozwrsnbshy.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_exe-OWNGoqWfZ_fumNhAxg_6rMqp2BJ
SUPABASE_SERVICE_ROLE_KEY=b_secret_onzz6kqikwddZYhrzJ5z6Q_0FbZGkNUY
INGEST_API_KEY=1e82234b9bf169c42f81f680528b9f4f5772ea8046d35a980907541addcad48e
